<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <!-- 그래프를 보여주기 위한 CDN  -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!--  jquery  -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        window.onload = function () {

            var postCountList = [[${dailyPostCountList}]];
            var userCountList = [[${dailyUserCountList}]];
            // 그래프 데이터와 설정
            var data_1 = {
                labels: postCountList.map(item => item.date),
                datasets: [{
                    label: '신규 게시글 수',
                    data: postCountList.map(item => item.postCount),
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };            // 그래프 데이터와 설정
            var data_2 = {
                labels: userCountList.map(item => item.date),
                datasets: [{
                    label: '신규 사용자 수',
                    data: userCountList.map(item => item.postCount),
                    backgroundColor: 'rgba(75,192,91,0.2)',
                    borderColor: 'rgb(87,192,75)',
                    borderWidth: 1
                }]
            };


            var options = {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };
            // 그래프 생성
            var ctx_1 = document.getElementById('postChart').getContext('2d');
            var ctx_2 = document.getElementById('userChart').getContext('2d');

            var postChart = new Chart(ctx_1, {
                type: 'bar', data: data_1, options: options
            });
            var userChart = new Chart(ctx_2, {
                type: 'bar', data: data_2, options: options
            });
        }

        function viewUsers() {
            $('#view-posts').hide();
            $('#view-users').show();
        }

        function viewPosts() {
            $('#view-posts').show();
            $('#view-users').hide();
        }


        function filterUsers() {
            var keyword = document.getElementById("user-keyword").value.toLowerCase();
            var userListItems = document.querySelectorAll("#user-list-container li");

            userListItems.forEach(function (item) {
                var username = item.querySelector(".username").textContent.toLowerCase();
                var role = item.querySelector(".role").textContent.toLowerCase();

                if (username.includes(keyword) || role.includes(keyword)) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        }
        function filterPosts() {
            var keyword = document.getElementById("post-keyword").value.toLowerCase();
            var postListItems = document.querySelectorAll("#post-list-container li");

            postListItems.forEach(function (item) {
                var username = item.querySelector(".username").textContent.toLowerCase();
                var content = item.querySelector(".content").textContent.toLowerCase();

                if (username.includes(keyword) || content.includes(keyword)) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        }

    </script>

    <style>
        .header{
            margin-top: 100px;
            margin-bottom: 100px;
        }

        /* 그래프를 좌우로 배치 */
        .graph-container {

            margin-bottom: 30px;
            width: 45%; /* 요소 크기를 조절하여 좌우 여백을 늘립니다. */
            display: inline-block; /* 요소를 가로로 나란히 배치합니다. */
        }

        /* 전체 요소를 가운데 정렬 */
        body {
            margin: 0 auto;
            max-width: 900px;
            padding: 20px;
            text-align: center;
        }

        /* Clear the float to prevent other elements from floating around the graphs */
        .clear {
            clear: both;
        }

        /* 사용자 목록과 게시글 목록 스크롤 적용 */
        .scrollable-list {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 5px;
            margin: 10px 0;
        }
    </style>
</head>
<body>

<div class="header">
    <img class="logo" src="/images/logo.png">
</div>

<div class="graph-container">
    신규 유저 그래프
    <canvas id="userChart"></canvas>
</div>

<div class="graph-container">
    신규 게시글 그래프
    <canvas id="postChart"></canvas>
</div>


<div class="clear"></div>

<div style="background: antiquewhite; margin: 20px;">
    신고된 글 리스트
</div>

<div>
    <button onclick="viewUsers()">전체 사용자 관리</button>
    <button onclick="viewPosts()">전체 게시글 관리</button>
</div>

<div id="view-users" style="display: none">
    <input type="text" id="user-keyword" placeholder="username을 입력해주세요">
    <button onclick="filterUsers()">검색</button>
    <div class="scrollable-list">
        <ul id="user-list-container">
            <li th:each="list : ${userList}">
                <span class="username" th:text="${list.getUsername()}"></span>
                <span class="role" th:text="${list.getRole()}"></span>
            </li>
        </ul>
    </div>
</div>

<div id="view-posts" style="display: none">
    <input type="text" id="post-keyword" placeholder="키워드를 입력해주세요">
    <button onclick="filterPosts()">검색</button>
    <div class="scrollable-list">
        <ul id="post-list-container">
            <li th:each="list : ${postList}">
                <span class="content" th:text="${list.getContent()}"></span>
                <span class="username" th:text="${list.getUsername()}"></span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>