<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>CHECK SHIRTS - My page</title>
    <style>
        .profile-field{
            padding: 5px;
            width:300px;
        }

        .profile-field.editable{
            border: 1px solid gray;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        //화면 접근 시 프로필 정보 불러오기
        window.onload = function () {
            fetch("/api/myprofile")
                .then(function (response) {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("프로필 불러오기 실패");
                    }
                })
                .then(function (responseDto) {
                    let nickname = document.getElementById("nickname");
                    let email = document.getElementById("email");
                    let oneLine = document.getElementById("oneLine");
                    let username = document.getElementById("username");
                    nickname.textContent = responseDto.nickname;
                    email.textContent = responseDto.email;
                    username.textContent = responseDto.username;
                    if (responseDto.oneLine === null) {
                        oneLine.textContent ="나의 한줄 소개를 입력해주세요."
                    }else{
                        oneLine.textContent = responseDto.oneLine;
                    }
                    console.log(responseDto);
                })
        }

        //버튼 수정 클릭 시 : 요소들 수정 가능하도록 수정
        function modifyProfile() {
            let profileFields = document.getElementsByClassName("profile-field");
            let saveButton = document.getElementById("saveButton");
            let modifyButton = document.getElementById("modifyButton");
            for(let i=0;i<profileFields.length;i++){
                profileFields[i].contentEditable="true";
                profileFields[i].classList.add("editable");
            }
            saveButton.style.display="block";
            modifyButton.style.display="none";
        }

        function saveProfile(){
            let nickname = document.getElementById("nickname");
            let email = document.getElementById("email");
            let oneLine = document.getElementById("oneLine");
            let regex = new RegExp('[a-z0-9]+@[a-z]+\.[a-z]{2,3}');
            console.log("이메일 정규식 검증시작")
            if (regex.test(email.textContent)) {
                console.log("nickname:" + nickname.textContent);
                console.log("email:" + email.textContent);
                console.log("oneLine:" + oneLine.textContent);
                //request 생성
                let requestDto = {
                    "nickname": nickname.textContent,
                    "email": email.textContent,
                    "oneLine": oneLine.textContent
                };
                fetch("/api/myprofile", {
                    method: "PUT",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify(requestDto)
                })
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (responseDto) {
                        alert(responseDto.msg);
                        if (responseDto.msg === "프로필 수정을 완료했습니다.") {
                            let profileFields = document.getElementsByClassName("profile-field");
                            let saveButton = document.getElementById("saveButton");
                            let modifyButton = document.getElementById("modifyButton");
                            for (let i = 0; i < profileFields.length; i++) {
                                profileFields[i].contentEditable = "false";
                                profileFields[i].classList.remove("editable");
                            }
                            saveButton.style.display = "none";
                            modifyButton.style.display = "block";
                        }
                    })
                    .catch(function (error) {
                        console.error("프로필 수정 실패", error);
                    });
            }else{
                alert("유효한 이메일 형식이 아닙니다.");
            }
        }
        function modifyPassword(){
            window.location.href = "/api/myprofile/password";
        }
        function showFollowers() {
            let username = document.getElementById("username").textContent;
            console.log(username);
            fetch(`/api/followers/${username}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (responseDto) {
                    $('#follower-list').empty();
                    responseDto.forEach(function (follower) {
                        let username = follower.username;
                        let email = follower.email;
                        let nickname = follower.nickname;
                        let followingDateTime = follower.followingDateTime;
                        let temp_html = `
                                <a href="${username}" role="link"
                                   tabindex="0"
                                   style="height: 44px; width: 44px;"><img
                                        alt="${username}님의 프로필 사진"
                                        src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/342230601_670501178168655_2562967830462618991_n.jpg?stp=dst-jpg_s150x150&amp;_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_cat=103&amp;_nc_ohc=YaP78wU9pccAX_tPuAv&amp;edm=APQMUHMBAAAA&amp;ccb=7-5&amp;oh=00_AfDcHlGkCxrRhcxGI7a0O1Z0AhiuXxcCVAX1REL9r80N8A&amp;oe=64BF00A0&amp;_nc_sid=6ff7c8"></a>
                                <a href="${username}" role="link"><span>${username}</span></a>
                                <div>${nickname}</div>
                                <div>${email}</div>
                                <div>팔로우한 날짜 :<span>${followingDateTime}</span></div>
                                <button id="unfollowButton" name="unfollow" onclick="unFollow(this)" value="${username}">팔로우취소</button>
                        `
                        $('#follower-list').append(temp_html);
                    });
                });
        }

        function showFollowings() {
            let username = document.getElementById("username").textContent;
            fetch(`/api/followings/${username}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (responseDto) {
                    $('#following-list').empty();
                    responseDto.forEach(function (follower) {
                        let username = follower.username;
                        let email = follower.email;
                        let nickname = follower.nickname;
                        let followingDateTime = follower.followingDateTime;
                        let temp_html = `
                                <a href="${username}" role="link"
                                   tabindex="0"
                                   style="height: 44px; width: 44px;"><img
                                        alt="${username}님의 프로필 사진"
                                        src="https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/342230601_670501178168655_2562967830462618991_n.jpg?stp=dst-jpg_s150x150&amp;_nc_ht=scontent-ssn1-1.cdninstagram.com&amp;_nc_cat=103&amp;_nc_ohc=YaP78wU9pccAX_tPuAv&amp;edm=APQMUHMBAAAA&amp;ccb=7-5&amp;oh=00_AfDcHlGkCxrRhcxGI7a0O1Z0AhiuXxcCVAX1REL9r80N8A&amp;oe=64BF00A0&amp;_nc_sid=6ff7c8"></a>
                                <a href="${username}" role="link"><span>${username}</span></a>
                                <div>${nickname}</div>
                                <div>${email}</div>
                                <div>팔로우한 날짜 :<span>${followingDateTime}</span></div>
                        `
                        $('#following-list').append(temp_html);
                    });
                });
        }
        function unFollow(button) {
            let username = button.value;
            console.log(username);
            fetch(`/api/follow/${username}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({})
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (responseDto) {
                    alert(responseDto.msg);
                    showFollowers();//삭제된 후 팔로워 새로고침
                })
                .catch(function (error) {
                    console.error("팔로우취소하기 실패", error);
                });
        }

    </script>
</head>
<body>
<div id="mypage-form">
    <div id="mypage-title">CHECK SHIRTS - 마이페이지</div>
    <div id="username" name="username" contenteditable="false" >아이디</div>
    <div id="nickname" name="nickname" contenteditable="false" class="profile-field">닉네임</div>
    <div id="email" name="email" contenteditable="false" class="profile-field">이메일@이메일주소.com</div>
    <div id="oneLine" name="oneLine" contenteditable="false" class="profile-field">한줄 소개</div>
    <div id="follow" name="follow" >팔로우</div>
    <button id="modifyButton" onclick="modifyProfile()" style="display:block;">프로필 수정</button>
    <button id="saveButton" onclick="saveProfile()" style="display: none;">프로필 저장</button>
<!--    <div id="follow" name="follow" >마지막 비밀번호 변경일 : </div>-->
    <button id="modifyPasswordButton" onclick="modifyPassword()" style="display:block;">비밀번호 변경</button>
    <button id="followers" name="followers" onclick="showFollowers()">팔로워</button>
    <button id="followings" name="followings" onclick="showFollowings()">팔로잉</button>
    <div id="message" name="message">DM</div>
    <h1 dir="auto" tabindex="-1" style="width: calc(100% - 100px);">
        <a onclick="showFollowers()">팔로워</a>
    </h1>
    <div id="follower-list">
    </div>
    <h1 dir="auto" tabindex="-1" style="width: calc(100% - 100px);">
        <a onclick="showFollowings()">팔로잉</a>
    </h1>
    <div id="following-list">
    </div>

</div>
</body>
</html>
